@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* specificity */
#logo{
    color: pink;
}

.main-heading{
    color: red;
}

a{
    color: saddlebrown;
}